@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: 220, 15%, 55%;
    --dark-blue: hsl(218, 44%, 22%);

    --opacity: .2;
}

.body {
    min-height: 100svh;
    display: grid;
    place-content: center;
    gap: 20px;

    background-color: var(--light-gray);
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 350px;
    border-radius: 1.5rem;
    padding: 1.2rem 1.2rem 2.5rem;
    text-align: center;
    user-select: none;

    background-color: var(--white);
    box-shadow: 0 15px 30px hsl(var(--grayish-blue), var(--opacity));
}

.qr-code {
    width: 100%;
    border-radius: 1rem;

    user-select: none;
    pointer-events: none;
}

.header {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0 .6em;
    margin-top: .25rem;

    color: var(--dark-blue);
}

.desc {
    font-size: 1.05rem;
    padding: 0 .8em;
    
    color: hsl(var(--grayish-blue));
}

.attribution {
    position: absolute;
    inset: auto 0 1rem 0;
    font-size: 1rem;
    text-align: center;
    color: hsl(0, 0%, 21%);
    font-weight: 700;
}

.attribution__link {
    color: hsl(0, 0%, 21%);
    transition: color 100ms;
}

.attribution__link:hover {
    color: hsl(216, 95%, 58%);
}